* {
    
}

body {
    color: rgb(79, 136, 166);
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: black;
}

.img {
    height: auto;
    width: 300px;
    margin: 50px;
}

ul {
    padding: 10px;
}
li {
    padding: 10px;
}

.new {
    display: flex;
    border: 2px double black;
}

.new > div {
    flex: auto;
    text-align: center;
}

p {
    text-indent: 50px;
    color: rgb(40, 39, 118);
    background-color: white;
    border: 5px solid slategray;
    padding: 10px;
    height: auto;
    width: auto;
    margin: 10px;
    box-sizing: border-box;
}

